<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message} Exception: ${exception:format=ToString}" fileName="${basedir}/Logs/${shortdate}.log" />
      <target name="console" xsi:type="ColoredConsole" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Warn" writeTo="Mail" />
      <!-- NLog Levele are -
    Fatal
    Error
    Warn
    Info
    Debug
    Trace -->
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>